$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$family-monospace: 'Source Code Pro', monospace !default
$render-mode: optimizeLegibility !default

$shadow: 0 4px 8px rgba($black, 0.1);
$shadow-hover: 0 4px 8px rgba($black, 0.15);
